body {
  background-color: #000;
  background-image: linear-gradient(0.25turn, rgb(0, 0, 0), 40%, transparent),
    url("../images/hero.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  font-size: 14px;
  line-height: 20px;
}

.container {
  padding-top: 15%;
  padding-left: 100px;
  width: fit-content;
}

.name-child {
  font-weight: 300;
  font-size: 2rem;
}

.title-child {
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: -0.01em;
  line-height: 1.0625;
}

.accent {
  color: rgba(104, 255, 104, 0.673);
}

.text-custom {
  font-size: 1.5rem;
  font-weight: 400;
  color: #eee;
}

.cta {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  background-color: rgba(104, 255, 104, 0.673);
  padding: 0.6rem 1rem;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: all ease-in-out 300ms;
}

.cta:hover {
  opacity: 0.8;
}

.learn-more {
  margin-top: 3rem;
}

@media screen and (max-width: 1024px) {
  body {
    background-position: 78% 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 25%;
  }

  .name-child {
    font-weight: 300;
    font-size: 1.5rem;
  }

  .title-child {
    margin: 0.5rem 0;
  }

  .subtitle h3 {
    line-height: 1.3625;
    font-size: 1.2rem;
  }

  .learn-more {
    margin-top: 1rem;
  }
}
