.divide {
  background: #ffea00;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  opacity: 1;
}

.yellow {
  color: #ffea00;
}

.lightYellow {
  color: #ffff8d;
}

.bold {
  font-weight: 700;
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

/* A.1 Hides from IE5/Mac \*/
* html .clearfix {
  height: 1px;
}

.clearfix {
  display: block;
}
